<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Origins</key>
	<array>
		<dict>
			<key>x</key>
			<integer>18</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>178</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>178</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>178</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>236</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>236</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>236</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>58</integer>
			<key>y</key>
			<integer>295</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>295</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>295</integer>
		</dict>
	</array>
</dict>
</plist>
